@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/fontssubset-Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Gagalin-Regular';
	src: url('../fonts/Gagalin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/fontssubset-Ubuntu.woff2') format('woff2'),
        url('../fonts/fontssubset-Ubuntu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/fontssubset-Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/fontssubset-Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/fontssubset-Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/fontssubset-Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/subset-Gagalin-Regular.woff2') format('woff2'),
        url('../fonts/subset-Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/subset-Lifehack-Medium.woff2') format('woff2'),
        url('../fonts/subset-Lifehack-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@mixin gagalin() {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin lifehack() { 
	font-family: 'Lifehack';
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}
